* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "montserrat";
  list-style: none;
}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@700&family=Lilita+One&family=Poppins:wght@400;500;600&display=swap');

/* ===== Colours ===== */
:root {
  --body-color: #e2f3f5;
  --base-color: #ffffff;
  --nav-color: #27d2ee;
  --side-nav: #010718;


  --hue: 207;
  --sat: 90%;
  --lig: 61%;
  --first-color: hsl(var(--hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--hue), var(--sat), 57%); /* -4% */
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color-light: hsl(var(--hue), 8%, 75%);
  --text-color-lighten: hsl(var(--hue), 8%, 92%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;

  --surface-color: #fff;
  --curve: 40;
}
body {
  background-color: var(--body-color);
}

body.dark {
  --body-color: #18191a;
  --nav-color: #242526;
  --side-nav: #242526;
  --text-color: #ccc;

}

/* NAVBAR SECTION */
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: var(--nav-color);
  z-index: 100;
}

body.dark nav {
  border: 1px solid #393838;
}

nav .nav-bar {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--nav-color);
  margin: 0 auto;
  padding: 0 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
  color: var(--base-color);
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

nav .nav-bar .logo a {
  font-size: 25px;
  font-weight: 500;
  color: var(--base-color);
  text-decoration: none;
}

.menu .logo-toggle {
  display: none;
}

.nav-bar .nav-links {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}

.nav-bar .nav-links li {
  margin: 0 5px;
  list-style: none;
}

.nav-links li a {
  position: relative;
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--base-color);
  text-decoration: none;
  padding: 10px;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--base-color);
  opacity: 0;
  transition: all 0.3s ease;
}

.nav-links li:hover a::before {
  opacity: 1;
}

.nav-bar .darkLight-searchBox {
  display: flex;
  align-items: center;
}

.dark-light {
  opacity: 0;
  position: absolute;
}

.dark-light-label {
  background-color: #fff;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-moon {
  color: #f1c40f;
}
.fa-sun {
  color: #22d1ee;
}

.dark-light-label .ball {
  background-color: #dccfcf;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
.dark-light:checked + .dark-light-label .ball {
  transform: translateX(24px);
}

/* RESPONSIVE NAVBAR */

@media (max-width: 1920px) {
  nav .nav-bar {
   padding-left: 16rem;
   padding-right: 16rem;
  }
}
@media (max-width: 1280px) {
  nav .nav-bar {
   padding-left: 4rem;
   padding-right: 4rem;
  }
}
@media (max-width: 768px) {
  nav .nav-bar {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  nav .nav-bar .sidebarOpen {
    display: block;
  }
  .menu {
    position: fixed;
    height: 100%;
    width: 320px;
    left: -100%;
    top: 0;
    padding: 20px;
    background-color: var(--side-nav);
    z-index: 100;
    transition: all 0.4s ease;
  }

  nav.active .menu {
    left: -0%;
  }

  nav.active .nav-bar .navLogo a {
    opacity: 0;
    transition: all 0.3s ease;
  }

  .menu .logo-toggle {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-toggle .siderbarClose {
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
  }

  .nav-bar .nav-links {
    flex-direction: column;
    padding-top: 30px;
  }

  .nav-links li a {
    display: block;
    margin-top: 20px;
  }
}


/* HOME SECTION */
main {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.hero {
  position: relative;
  height: 100%;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-top: 250px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero_text {
  text-align: left;
  flex: 60%;
  line-height: 2.5rem;
}

.hero_textHello {
  font-style: italic;
}
.hero_textName {
  font-family: 'Lilita One', cursive;
  font-size: 2.5rem;
  font-weight: 900;
}

.hero_text span{
  position: relative;
  font-size: 1.50rem;
  color: var(--nav-color);
}
.hero_text span::before {
  content: "";
  right: -10px;
  top: 50%;
  position: absolute;
  height: 30px;
  width: 2px;
  background: var(--nav-color);
  transform: translateY(-45%);
  animation: blink 0.7s infinite;

}

.hero_text span.stop-blinking::before {
  animation: none;
}

.hero_btn {
  display: flex;
  justify-content: left;
  gap: 1rem;
  margin-top: 0.5rem;
}

.btn {
  font-weight: 400;
  transition: all 300ms ease;
  padding: 0.5rem;
  width: 8rem;
  border-radius: 0.5rem;
  color: var(--base-color);
  border: none;
}

.btn a {
  color: var(--base-color);
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.btn-color-2 {
  background:var(--nav-color);
}

.hero_social {
  display: flex;
  justify-content: left;
  margin-top: 0.5rem;
  column-gap: 0.75rem;
}

.hero_social-link {
  font-size: 1.25rem;
  color: var(--base-color);
  transition: 0.3s;
}

.hero_social-link:hover {
  color: var(--nav-color);
}

.hero_imgBorder {
  justify-self: center;
  display: grid;
  place-items: center;
  margin-bottom: 0.75rem;
}
.hero_img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.hero_img img {
  width: 300px;
}
.hero_img img:hover {
  scale: 1.2;
}

@media screen and (max-width: 768px) {
  .hero {
    gap: 0;
    flex-direction: column-reverse;
    height: auto;
    padding-top: 100px;
  }
  .hero_text {
    text-align: center;
  }

  .hero_btn {
    justify-content: center;
  }
  .hero_social {
    justify-content: center;
  }
  .hero_imgBorder {
  display: grid;
  width: 200px;
  height: 200px;
  place-items: center;
  margin-bottom: 0.75rem;
  }
  .hero_img {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
  }
  .hero_img img {
    width: 200px;
    
  }
}

@media screen and (max-width: 607px) {
  .hero_textName {
    font-size: 1.5rem;
  }
}

/* ABOUT SECTION */
.about {
  margin: 1rem 15rem;
  display: flex;
  align-items: center;
  gap: 5rem;
  height: 80vh;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 100px 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about_text {
  text-align: left;
  flex: 70%;
}

.about_title {
  color: var(--nav-color);
  font-size: 2rem;
}

.about_description {
  font-family: cambria;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: justify;
}

.profile_img-border {
  justify-self: center;
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
}
.profile__img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.profile__img img {
  width: 250px;
}

.experience {
  display: flex;
  align-items: center;
  gap: 5rem;
  height: 100%;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 350px;
  display: flex;
  align-items: center;
}

.row {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
}

.col header.title {
  color: #000000;
  padding-bottom: 20px;
}

.col .contents {
  padding: 0 30px;
  border-left: 2px solid #bababa;
}

.col .contents .box {
  position: relative;
  padding: 0 20px 20px 0;
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 20px;
}

.col .contents .box::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  right: calc(100% + 22px);
  top: 0;
  background-color: #112a21;
}



.box h3 {
  font-size: 19px;
  padding: 5px 0 6px;
  font-weight: 700;
  color: #000000;
}

.box h4 {
  position: relative;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

.col .contents .box ul {
  list-style: square;

}


/* RESPONSIVE ABOUT */
@media (max-width: 1920px) {
  .about,
  .experience {
   padding-left: 17rem;
   padding-right: 17rem;
  }
}
@media (max-width: 1280px) {
  .about,
  .experience {
   padding-left: 5rem;
   padding-right: 5rem;
  }
}

@media screen and (max-width: 768px) {
  main.row {
    grid-template-columns: 1fr;
  }
  .row .col:nth-child(2) {
    margin-top: 30px;
  }
  .about {
    gap: 0;
    flex-direction: column-reverse;
    height: auto;
    padding: 100px 30px;
  }
  .about_text {
    margin: 0 auto 2rem;
    text-align: center;
  }

  .profile_img-border {
    display: grid;
  width: 200px;
  height: 200px;
  place-items: center;
  margin-bottom: 0.75rem;
  }
  .profile__img {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
  }
  .profile__img img {
    width: 200px;
  }
  .experience {
    padding: 0 40px 0 40px;
  }
}

/* SKILLS SECTION */
.skills {
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 100px 350px;
}

.btnfilters_skills {
  margin: 2rem 0 0.1rem;
  background-color: var(--text-color-lighten);
  padding: 0.375rem;
  border-radius: 0.6rem;
  display: flex;
  justify-content: space-between;
  column-gap: 0.5rem;
}

.skillsTab-btn {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5rem;
  color: var(--title-color);
  font-size: 0.7rem;
  font-family: var(--body-font);
  font-weight: 500;
  border-radius: 0.6rem;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s;
}

.skillsTab-btn:hover {
  background-color: var(--body-color);
}

.filter-tab-active {
  background-color: var(--body-color);
}

.cards_skills {
  max-width: 1200px;
  display: grid;
  margin: 0 auto;
  gap: 0.1rem;
  grid-template-columns: repeat(4, 1fr);
}

.cards_item_skills {
  display: flex;
  padding: 0.4rem;
}

.card_skills {
  background-color: rgb(255, 255, 255);
  border-radius: 0.6rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  overflow: hidden;
}

.card_content_skills {
  padding: 2rem;
  background: #ffffffc0;
}

.card_content_skills img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

@media (max-width: 1920px) {
  .skills {
    padding-left: 17rem;
    padding-right: 17rem;
  }
}
@media (max-width: 1280px) {
  .skills {
    padding-left: 5rem;
   padding-right: 5rem;
  }
}


@media (max-width: 768px) {
  .skills {
    padding-top: 3.15rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .cards_skills {
    max-width: 1200px;
    display: grid;
    margin: 0 auto;
    gap: 0.1rem;
    grid-template-columns: repeat(2, 1fr);
  }

}

.show {
  display: block;
}

.remove {
  display: none;
}


/* PROJECTS SECTION */
.project {
  display: flex;
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 100px 350px;
}

.btnfilters_projects {
  margin: 2rem 0 2.5rem;
  background-color: var(--text-color-lighten);
  padding: 0.375rem;
  border-radius: 0.6rem;
  display: flex;
  justify-content: space-between;
  column-gap: 0.5rem;
}

.projectsTab-btn {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5rem;
  color: var(--title-color);
  font-size: 0.7rem;
  font-family: var(--body-font);
  font-weight: 500;
  border-radius: 0.6rem;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s;
}

.projectsTab-btn:hover {
  background-color: var(--body-color);
}

.filter-tab-active {
  background-color: var(--body-color);
}

.card_projects {
  background-color: rgb(255, 255, 255);
  border-radius: 0.6rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.contentCard_projects{
  
}
.cards_projects {
  max-width: 1200px;
  display: grid;
  margin: 0 auto;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.card_image_projects img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.card_content_projects {
  padding: 1rem;
  background: #ffffffc0;
}

.card_title_projects {
  color: #000000;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text_projects {
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.icon_tech {
  display: flex;
  column-gap: 0.75rem;
}
.icon_tech img {
  width: 30px;
}
@media (max-width: 1920px) {
  .project {
    padding-left: 17rem;
    padding-right: 17rem;
  }
}
@media (max-width: 1280px) {
  .project {
    padding-left: 5rem;
   padding-right: 5rem;
  }
}



@media (max-width: 768px) {
  .project {
    padding-top: 3.15rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .cards_projects {
    max-width: 1200px;
    display: grid;
    margin: 0 auto;
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
  }

}

/* CONTACT SECTION */
main .responsive-cell-block {
  min-height: 75px;
}

main input:focus {
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}

main .container-block {
  min-height: 75px;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: block;
}

main .submit-btn:hover {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #0381fe;
}

main .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

main .responsive-container-block.big-container {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  position: relative;
  height: auto;
}

main .responsive-container-block.container {
  position: static;
  min-height: 75px;
  flex-direction: column;
  z-index: 2;
  max-width: 800px;
  margin-top: 120px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
}

main .container-block.form-wrapper {
  background-color: white;
  max-width: 799px;
  text-align: center;
  padding-top: 50px;
  padding-right: 40px;
  padding-bottom: 50px;
  padding-left: 40px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
  border-radius: 0.6rem;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

main .text-blk.contactus-head {
  font-size: 36px;
  line-height: 50px;
  font-weight: 900;
  margin-bottom: 0.7rem;
}

main .text-blk.contactus-subhead {
  color: #9c9c9c;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

main .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 26px;
  margin-left: 0px;
  min-height: 50px;
}

main .input {
  width: 96%;
  height: 50px;
  padding-top: 1px;
  padding-right: 15px;
  padding-bottom: 1px;
  padding-left: 15px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #eeeeee;
  border-right-color: #eeeeee;
  border-bottom-color: #eeeeee;
  border-left-color: #eeeeee;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 16px;
  color: black;
  border-radius: 0.6rem;
}

main .textinput {
  width: 98%;
  min-height: 150px;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #eeeeee;
  border-right-color: #eeeeee;
  border-bottom-color: #eeeeee;
  border-left-color: #eeeeee;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 16px;
  border-radius: 0.6rem;
}

main .submit-btn {
  width: 98%;
  background-color: #03a9f4;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: outset;
  border-right-style: outset;
  border-bottom-style: outset;
  border-left-style: outset;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
}

main .form-box {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

main .social-media-links {
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

main .link-img {
  width: 30px;
  height: 30px;
}

main .text-blk.input-title {
  text-align: left;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  font-size: 14px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  color: #9c9c9c;
}

main ::placeholder {
  color: #dadada;
}

main .blueBG {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  height: 300px;
  background-color: #03a9f4;
}

@media (max-width: 768px) {
  main .submit-btn {
    width: 100%;
  }

  main .input {
    width: 100%;
  }

  main .textinput {
    width: 100%;
  }

  main .container-block.form-wrapper {
    margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  main .text-blk.input-title {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  main .responsive-container-block.container {
    margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }

  main .container-block.form-wrapper {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  main .text-blk.contactus-head {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 500px) {
  main .container-block.form-wrapper {
    padding-top: 50px;
    padding-right: 15px;
    padding-bottom: 50px;
    padding-left: 15px;
  }

  main .container-block.form-wrapper {
    margin-top: 60px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  main .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
  }

  main .responsive-container-block {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 35px;
    margin-left: 0px;
  }

  main .text-blk.input-title {
    font-size: 12px;
  }

  main .responsive-container-block.container {
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }

  main .container-block.form-wrapper {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  main .responsive-container-block.big-container {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  main .text-blk.contactus-head {
    font-size: 26px;
    line-height: 34px;
  }

  main .input {
    height: 45px;
  }
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}
